

@media (max-width: 768px) {

  /* header */

ul{
  margin: 0 10px;
}

  #hea_but {
    font-size: 15px;
    padding: 8px 10px;
  }

  #head_inner {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }

  #head_spans {

    font-size: 13px;
  
  }

  #head_img {
    position: absolute;
    top: 20px;
    width: 100%;
  }


  #head_inner img{
    width: 30%;

  }

  /* section 1 */

  .section1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/images/headerpics/senior-modern-stylish-man-outdoors-on-the-sportive-2026-01-09-00-27-24-utc.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #se1_inner {
    margin: auto;
    padding: 200px 10px 60px;
  }

  #se1_inner h2 {
    font-size: 18px;

    line-height: 2em;
  }

  #se1_inner h1 {
    font-size: 35px;


  }

  #se1_but {
    font-size: 15px;
  
    margin: 15px 0px;
        
  }


  /* section 2 */

  .section2 {
    background-image: url("/assets/images/section2/img1.png");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 60px 10px;
    background-size: cover;
  }

  #se2_inner {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #se2_img_box {
    width: 100%;
  }


  #se2_h2 {
   
    font-size: 26px;

  }

  #se2_nextbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 25px;
    text-align: center;
  }

  .se2_paras {
    font-size: 16px;
  
    line-height: 2.2em;

  }


  /* section 3 */

  #se3_container {
    margin: auto;
    padding: 60px 10px;
  }

  #se3_h2 {

    font-size: 22px;


  }

  .se3_h4 {
      font-size: 14px;
   
  }

  #se2_img_box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
  }


  #se3_box1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
  }

  .se3_inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0px;
    text-align: center;
  }

  #se3_box1 {
    width: 100%;
    order: 1;
  }



  #se3_nextbox_box1 {
    width: 100%;
    margin-top: 20px;
    order: 2;
  }

  /* box 2 */

  #se3_nextbox_box2 {
    width: 100%;
  }

    #se3_inner_box3_pics2 {
    align-items: flex-start;
    display: flex;
    margin: 40px 0px;
    gap: 20px;
    flex-direction: column;
  }

 

  #se3_nextbox_box2 h2 {
    font-size: 19px;
    margin: 12px 0px;
    line-height: 1.5em;
  }

  #se3_box2{
    width: 100%;

}

  #se3_box2 img {
    width: auto;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
  }

  .se3_h3_2 {
    font-size: 14px;

  }

  .se3_h3 {
    font-size: 22px;

  }

  #se3_nextbox h2 {
    font-size: 19px;

  }

  #se3_h2_3 {
  
    font-size: 22px;
   
    margin: 10px 0px;
  }

  #se3_p1 {
    font-size: 14px;

    line-height: 1.5em;
  }

  #se3_p2 {
    font-size: 14px;
    line-height: 1.5em;


  }



  #se3_nextbox_box2 ul li {
    font-size: 14px;
    line-height: 2.2em;
    margin-top: 8px;
  }

  /* box 3 */

 

  .se3_last_box ul li {
    font-size: 14px;
    line-height: 2.2em;
    margin-top: 8px;
  }

  .se3_box3 h2 {
    font-size: 19px;

    padding-top: 18px;
  }

  .se3_box3 h3 {
    font-size: 24px;

    padding-bottom: 14px;
  }

  .se3_price {
      font-size: 22px;
    
  }

  /* section 4 */

  .section4 {
    background-image: url("/assets/images/section4/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 10px;
  }

  #se4_container {
    margin: auto;
  }

  #se4_firstbox {
    text-align: center;
  }

  #se4_h2 {
      font-size: 17px;

  }

  #se4_h3 {
      font-size: 14px;

  }

  #se4_inner {
    order: 2;
    display: flex;
    padding: 40px 0px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }


  .se4_img1,
  .se4_img2 {
    width: 100%;
   order: 1;
    margin-top: 20px;
  }


    .se4_img1 img {
    width: 100%;
    height: 445px;
    object-fit: cover;
    border-radius: 25px;
  }


    .se4_img2 img {
    width: 100%;
    height: 411px;
    object-fit: cover;
    border-radius: 25px;
  }

  #se4_nextbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #se4_nextbox h3 {
      font-size: 20px;

    margin-bottom: 10px;
  }

  #se4_nextbox h2 {

    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
  }


  #se4_nextbox ul li {
   
    font-size: 14px;
    line-height: 2em;
  }




  #se4_next_paras {
    padding-top: 15px;
  }

  /* box 2 */

  #se4_nextbox_man {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #se4_nextbox_ids_pars {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  #se4_nextbox_ids_pars h3 {
      font-size: 17px;
        margin-bottom: 10px;
        
  }

  #se4_nextbox_ids_pars h2 {
      font-size: 16px;

    margin-top: 12px;
    margin-bottom: 5px;
    line-height: 1.8em;
  }

  #se4_nextbox_ids_pars ul {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 25px;
  }

  #se4_nextbox_ids_pars ul li {
    color: #c0b3b3;
    font-size: 14px;
    font-family: Gotham;
    line-height: 1.8em;
  }

  /* section 5 */

  #section5 {
    background-image: url("./assets/images/section 5/Background.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 10px;
  }

 
  #se5_firstbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #se5_img img {
    width: auto;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
  }


  #se5_h2 {
    font-size: 28px;
  }

  #se5_h3 {
   
    font-size: 17px;
    margin-top: 10px;
  }

  #se5_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: space-between;
  }



  

  #se5_nextbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
  }

  #se5_nextbox h2 {
      font-size: 20px;

    margin-bottom: 10px;
  }

  #se5_nextbox ul {
    margin-bottom: 20px;
    padding-left: 25px;
  }

  #se5_nextbox ul li {
   
    font-size: 15px;
    line-height: 2em;
  }

  /* footer section */

  .footer {
    padding: 15px 0px;
    background-image: url("/assets/images/footer/bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-content h2 {
    margin-bottom: 10px;
    font-size: 18px;

  }

  .footer-content p {

    font-size: 14px;
   
  }

  /* copyright */

  .copyright {
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .copyright p {
   
    font-size: 14px;
   
  }
}